* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body{
  max-width: 100%;
  overflow-x: hidden;
}

em {
  color: black;
}

header {
 
  text-align: center;
  background: 	#0B0C10;
  color: white;
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding: 20px 10%;
}


li, a, button {
  font-family: monospace;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  
}
li, a:hover{


color:rgb(0, 255, 153);
  border: none;
}

.nav_links { 
  display: flex;
  margin-left: 250px;
}
.nav_links li{
  display: inline-block;
  padding: 0px 20px;
list-style: none;

}

.nav_links li a {
  transition: all 0.3s ease 0s;
 
  
}

button {
  padding: 9px 25px; 
  background-color:rgb(0, 255, 153);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
 
}
button:hover {
  background-color:#0B0C10 ;
  color: rgb(0, 255, 153);

}
.Logo {
  height: 80px;
  width: auto;
margin-left: none;
cursor: pointer;
margin-right: 7%;
border-radius: 15px;

}
 button:hover {
 color: white;
  
}
.nav_links:hover {
  color:rgb(0, 255, 153);
}

li{
  list-style: none;
  margin: 5px;
}

li:hover{
  color: rgb(0, 255, 153);
}
nav a {
  color: white;
  padding: 5px 0;
  text-decoration: none;
  text-align: center;  
}
.Sub-Menu {
  margin-right: 1%;
  margin-top: 1%;
  font-size: 18px;
  font-weight: bold;
 display: none;
  margin-left: 0%;
  color: rgb(0, 255, 153);
}
menu{
  display: none;
}
.container-2{
 margin-right: 11%;
}
/* all above is for nav  bar */
/* all below is for @media  for nav guide */
@media screen and (min-width:1200px){
  .nav_links li {
    display: flex;
    font: 10px;
    flex-wrap: wrap;
    list-style: none;
  }
}


@media screen and (max-width:926px){
  menu{
    display: inline-block;
  }
.nav_links{
  display: none;
}
button{
  display: none;
}
a{
  display: inline-block;
}

}
/* all Above is for @mediascreen  for nav guide */
/* all below is for body */
.container {
display:flexbox;
flex-wrap: wrap;
background-color: white;
width: 225px;
height: 200px;
margin-left: 39%;
margin-top: 30px;
background-image: url(../images/Tyler.jpg);
background-size: cover;
background-position: center;

}
.container-2 {
display:inline-block;
flex-wrap: wrap;
background-color: white;
width: 225px;
height: 200px;
margin-left: 15%;
margin-top: 20px;
margin-right: 70px;
background-image: url(../images/bluecode3.jpg);
background-size: cover;

}

.container-4 {
display:flexbox;
flex-wrap: wrap;
background-color: white;
width: 225px;
height: 200px;
margin-left: 39%;
margin-top: 20px;
background-image: url(../images/bluecode3.jpg);
background-position:center;
background-size: cover;
;


}

/* below is media queries for body*/

/*phone except surface duo*/
@media screen and (max-width:415px){
.container{
  margin-left: 25%;
  margin-top: 5%;
 height: 125px;
   }
   .container-4{
    margin-left: 25%;
    height: 125px;

   }
  .container-2 {
    margin-left: 25%;
    height: 125px;

   }

/*surface duo*/
 }
 @media screen and (max-width:550px){
  .container{
    margin-left: 31%;
    margin-top: 5%;
   height: 145px;
     }
     .container-4{
      margin-left: 31%;
      height: 145px;

     }
    .container-2 {
      margin-left: 31%;
      height: 145px;

     }
    
     .footer {
      display:list-item;
      
     }
     

  
   }
   
 @media screen and (max-width:550px){
  .container{
    margin-left: 31%;
    margin-top: 5%;
   height: 145px;
     }
     .container-4{
      margin-left: 31%;
      height: 145px;

     }
    .container-2 {
      margin-left: 31%;
      height: 145px;

     }
  
   }
   /*if screen is less than 863px takes in line position for cards*/
   @media screen and (max-width:863px){
    .container{
      margin-left: 35%;
      margin-top: 5%;
     height: 145px;
       }
       .container-4{
        margin-left: 35%;
        height: 145px;
  
       }
      .container-2 {
        margin-left: 35%;
        height: 145px;
  
       }
  
    
     }



     @media screen and (max-width:990px){
      .container{
        margin-left: 39%;
        margin-top: 4%;
       height: 200px;
       width: 250px;
         }
         .container-4{
          margin-left: 39%;
          height: 200px;
          width:250px ;
          margin-top: 5px;
    
         }
        .container-2 {
          margin-left: 35%;
          height: 145px;
          width: 250px;
          height: 200px;
          margin-left: 39%;
          margin-top: 5px;
           margin-right: 75px;
           margin-bottom: 0%;
    
         }
    
      
       }
     /*if screen is bigger than 990px*/
     @media screen and (min-width:990px){
      .container{
        margin-left: 39%;
        margin-top: 4%;
       height: 200px;
       width: 250px;
         }
         .container-4{
          margin-left: 39%;
          height: 200px;
          width:250px ;
          margin-top: 5px;
    
         }
        .container-2 {
          margin-left: 35%;
          height: 145px;
          width: 250px;
          height: 200px;
          margin-left: 39%;
          margin-top: 5px;
           margin-right: 75px;
           margin-bottom: 0%;
    
         }
    
      
       }
        /*if screen is less than 990px*/
       @media screen and (min-width:1080px){
        .container{
          margin-left: 41%;
          margin-top: 4%;
         height: 200px;
         width: 250px;
           }
           .container-4{
            margin-left: 41%;
            height: 200px;
            width:250px ;
            margin-top: 5px;
      
           }
          .container-2 {
            margin-left: 35%;
            height: 145px;
            width: 250px;
            height: 200px;
            margin-left: 17%;
            margin-top: 5px;
             margin-right: 75px;
             margin-bottom: 0%;
      
           }
      
        
         }
    

/* smaller screens 450 px */









/*all below is for section*/
/*$laptop: 1024px;// lg
$desktop: 1200px; // lx
$tablet : 768px; // xl
$iphone :480px ;// sm




  /* For media screen size 1200 desktop width*/

 
  
  /* Make the sidebar stack below the body */
 
  body {
    background-image: url(../images/hardwood-grey2.jpg);
    background-size: cover;
    height: 900px;
    
    
   
  }
  
     
    /*below is for footer*/
    .footer {
      background-color: #0B0C10;
      color: rgb(0, 255, 153);
      display:inline-block;
      flex-wrap:wrap ;
      margin-top: 11%;
      display:flex;
      justify-content: center;
     

    }
    
/*card styling*/
 .container-2 {
font-family: monospace;
color: white;
border-radius: 15px;
font-size: 13px;
margin-right: 11%;
height: 250px;
}
.container {
  font-family: monospace;
color: white;
border-radius: 15px;
font-size: 18px;
height: 250px;
}
.container-4{
  font-family: monospace;
color: white;
border-radius: 15px;
font-size: 18px;
height: 250px;
}
.container-4:hover {
  cursor: pointer;
  color:  rgb(0, 255, 153);
}
.container-2:hover{
  cursor: pointer;
  color: rgb(0, 255, 153);
}
.container:hover{
  cursor: pointer;
  color: rgb(0, 255, 153);
}

/*making section jump*/